<!--  Visual Studio sidebar modified -->

<!--  Menu Header - This part is supposed to be used to display company name, logo etc -->
<!--  Here we have also a button that toggles menu view between extended and short     --> 
<div class="container-fluid m-0 p-0" style="border-bottom:groove 1px gray; height:47px; ">
    <div class="row m-0 p-0 ">
        @if (IsVisible)
        {
            <div class="col-2 flexColCenter m-0 p-0">
                <button class="btn " style="color:transparent;" @onclick="ToggleMenu">
                    <span class="bi bi-arrow-left-circle ItemIcon me-2 ms-1" ></span>
                </button>
            </div>

            <!-- This space can be used to display the company logo, motto or else -->
            <div class="col-10 flexRowStart m-0 p-0">
                <h6 class="m-0" style="border:solid 0px yellow;color:white;padding-left:2.2rem;padding-top: 0.8rem">Layout 101</h6>
            </div>
        }
        else
        {
            <div class="col-12 flexColCenter m-0 p-0">
                <button class="btn" style="color:transparent;" @onclick="ToggleMenu">
                    <span class="bi bi-arrow-right-circle ItemIcon me-2 ms-1" ></span>
                </button>
            </div>
        }
    </div>
</div>

<!--  Menu Body - Pick List -->
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="flex-column">                   
        <li>            
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">   
                <div class="mnuLvl01@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(1))"  @onmouseout="OnMouseOut">
                    <span class="bi-house-door @(IsHovered == 1 ? "ItemHovered" : "ItemIcon")" />
                    <span class="ItemFont @(IsVisible ? "" : "hidden")"> Home </span>                                            
                </div>
            </NavLink>            
        </li>
        <li>
            <a class="nav-link" href="counter">
                <div class="mnuLvl01@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(2))" @onmouseout="OnMouseOut">
                    <span class="bi-calculator  @(IsHovered == 2 ? "ItemHovered" : "ItemIcon")" />
                    <span class="ItemFont @(IsVisible ? "" : "hidden")"> Counter </span>                                            
                </div>
            </a>
        </li>
        <li>
            <a class="nav-link" href="Weather">
                <div class="mnuLvl01@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(3))" @onmouseout="OnMouseOut">
                    <span class="bi-cloud-drizzle @(IsHovered == 3 ? "ItemHovered" : "ItemIcon")" />
                    <span class="ItemFont @(IsVisible ? "" : "hidden")"> Weather </span>
                </div>
            </a>
        </li>
        <li>
            <div class="nav-link" @onclick="ToggleMnuCdasVis">
                <div class="mnuLvl01@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(4))" @onmouseout="OnMouseOut">
                    <span class="bi-bookshelf @(IsHovered == 4 ? "ItemHovered" : "ItemIcon")" />
                    <span class="ItemFont @(IsVisible ? "" : "hidden")"> Cadastro </span>
                </div>
            </div>
        </li>
        <!--  Control Open-Close sub Menu -->
        @if (MnuCdasVis)
        {
            <li class="">
                <div class="nav-link" @onclick="TogglesubMnuCadCli">
                    <div class="mnuLvl02@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(5))" @onmouseout="OnMouseOut">
                        <span class="bi-people @(IsHovered == 5 ? "ItemHovered" : "ItemIcon")" />
                        <span class="ItemFont @(IsVisible ? "" : "hidden")"> Clients </span>
                    </div>
                </div>
            </li>

            @if (subMnuCadCli)  /* Control Open/Close of Crud Clients menu */
            {
                <li class="slimList">
                    <a class="nav-link" href="Create">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(10))" @onmouseout="OnMouseOut">
                            <span class="bi-file-earmark-plus @(IsHovered == 10 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Create </span>
                        </div>
                    </a>
                </li>
                <li class="slimList">
                    <a class="nav-link" href="Read">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(11))" @onmouseout="OnMouseOut">
                            <span class="bi-book @(IsHovered == 11 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Read </span>
                        </div>
                    </a>
                </li>
                <li class="slimList">
                    <a class="nav-link" href="Update">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(12))" @onmouseout="OnMouseOut">
                            <span class="bi-arrow-clockwise @(IsHovered == 12 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Update </span>
                        </div>
                    </a>
                </li>
                <li class="slimList">
                    <a class="nav-link" href="Delete">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(13))" @onmouseout="OnMouseOut">
                            <span class="bi-trash @(IsHovered == 13 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Delete </span>
                        </div>
                    </a>
                </li>
            }

            <li>
                <div class="nav-link" @onclick="TogglesubMnuCadSup">
                    <div class="mnuLvl02@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(6))" @onmouseout="OnMouseOut">
                        <span class="bi-person-add @(IsHovered == 6 ? "ItemHovered" : "ItemIcon")" />
                        <span class="ItemFont @(IsVisible ? "" : "hidden")"> Suppliers </span>
                    </div>
                </div>
            </li>

            @if (subMnuCadSup)  /* Crud Suppliers */
            {
                <li class="slimList">
                    <a class="nav-link" href="Create">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(14))" @onmouseout="OnMouseOut">
                            <span class="bi-file-earmark-plus @(IsHovered == 14 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Create </span>
                        </div>
                    </a>
                </li>
                <li class="slimList">
                    <a class="nav-link" href="Read">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(15))" @onmouseout="OnMouseOut">
                            <span class="bi-book @(IsHovered == 15 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Read </span>
                        </div>
                    </a>
                </li>
                <li class="slimList">
                    <a class="nav-link" href="Update">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(16))" @onmouseout="OnMouseOut">
                            <span class="bi-arrow-clockwise @(IsHovered == 16 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Update </span>
                        </div>
                    </a>
                </li>
                <li class="slimList">
                    <a class="nav-link" href="Delete">
                        <div class="mnuLvl03@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(17))" @onmouseout="OnMouseOut">
                            <span class="bi-trash @(IsHovered == 17 ? "ItemHovered" : "ItemIcon")" />
                            <span class="ItemFont @(IsVisible ? "" : "hidden")"> Delete </span>
                        </div>
                    </a>
                </li>
            }
        }

        <li>
            <div class="nav-link" @onclick="ToggleMnuRepVis">
                <div class="mnuLvl01@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(7))" @onmouseout="OnMouseOut">
                    <span class="bi-journals @(IsHovered == 7 ? "ItemHovered" : "ItemIcon") " />
                    <span class="ItemFont @(IsVisible ? "" : "hidden")"> Reports </span>
                </div>
            </div>
        </li>
        @if (MnuRepVis)
        {
            <li class="">
                <a class="nav-link" href="Research">
                    <div class="mnuLvl02@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(8))" @onmouseout="OnMouseOut">
                        <span class="bi-pie-chart @(IsHovered == 8 ? "ItemHovered" : "ItemIcon") " />
                        <span class="ItemFont @(IsVisible ? "" : "hidden")"> Research </span>
                    </div>
                </a>
            </li>
            @if (subMnuRepRes)  /* Research reports - to be implemented */
            {

            }
            <li>
                <a class="nav-link" href="Market">
                    <div class="mnuLvl02@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(9))" @onmouseout="OnMouseOut">
                        <span class="bi-bank @(IsHovered == 9 ? "ItemHovered" : "ItemIcon")" />
                        <span class="ItemFont @(IsVisible ? "" : "hidden")"> Market </span>
                    </div>
                </a>
            </li>
            @if (subMnuRepMkt)  /* Marketing Reports - to be implemented */
            {

            }
        }

        <li>
            <a class="nav-link" href="Logout" >
                <div class="mnuLvl01@(IsVisible?"L":"S")" @onmouseover="(() => OnMouseOver(18))" @onmouseout="OnMouseOut">
                    <span class="bi-box-arrow-left @(IsHovered == 18 ? "ItemHovered" : "ItemIcon") " />
                    <span class="ItemFont @(IsVisible ? "" : "hidden")"> Logout </span>
                </div>
            </a>
        </li>
    </ul>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    li {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 2rem;        
    }
    ul{
        list-style-type: disc;
    }
    .slimList{
        margin-top: 1rem;
        margin-left: 0rem;
        margin-bottom: 1rem;        
    }
    .hidden {
        display: none; /* Completely hides the element */
    }
    .sidebar {
        flex: 1 1 @SideWidth;
        background-image: linear-gradient(to bottom right, #111111, #45544);
        background: linear-gradient(to bottom, #111111, #444444 ); 
        position: relative;
        width: 4rem;
        border: 1px solid black; /* Example border for the sidebar */
    }
    .ItemIcon {
        font-size: 1.2rem;
        color: lightgoldenrodyellow;
    }
    .ItemHovered {
        font-size: 1.2rem;
        color: orangered;
    }
    .ItemFont {
        font-size: 0.9rem;
        color: lightgoldenrodyellow;    
        margin: 1.3rem;
    }
    /* NavMenu.css - S = short menu / L = extended menu */
    .mnuLvl01L{
        width: 10.8rem;      
        padding: 0.3rem;
        border: 1px solid #555555;
        border-radius: 5px;
        background-color: #333333;                   
    }
    .mnuLvl01S{
        width: 2rem;
        padding: 0.3rem;
        border: 1px solid #111111;
        border-radius: 5px;
        background-color: #333333;
    }
    .mnuLvl02L{
        width: 9.1rem;
        margin-left : 1.6rem;
        padding: 0.3rem;
        border: 1px solid #111111;
        border-radius: 5px;
        background-color: #555555;
    }
    .mnuLvl02S {
        width: 2rem;
        
        padding: 0.3rem;
        border: 1px solid #111111;
        border-radius: 5px;
        background-color: #555555;
    }
    .mnuLvl03L {
        width: 7.8rem;
        margin-left: 3.2rem;
        padding: 0.3rem;
        border: 1px solid #111111;
        border-radius: 5px;
        background-color: #111111;
    }
    .mnuLvl03S {
        width: 2rem;
       
        padding: 0.3rem;
        border: 1px solid #111111;
        border-radius: 5px;
        background-color: #111111;
    }
    .nav-link {
        position: absolute; /* Absolute positioning within the parent container */
        left: 0; /* Align to the left edge */
        overflow: visible; /* Allow text to overflow */
        white-space: nowrap; /* Prevent text wrapping */ 
    }
</style>

@code {
        [Parameter]
        public string SideWide { get; set; } = string.Empty;


    private bool IsVisible = true;
    private int? IsHovered = 0;
    private string SideWidth = "";
    string SideShort = "2rem";

    //  Menu structure
    bool MnuCdasVis = false;
    bool subMnuCadCli = false;
    bool subMnuCadSup = false;

    bool MnuRepVis = false;
    bool subMnuRepRes = false;
    bool subMnuRepMkt = false;

    protected override void OnInitialized() { SideWidth = SideWide; base.OnInitialized();}

    //  This on/off logic shows or hides selected parts of the menu
    //  enabling a very flexible control over its behavior

    private void ToggleMenu() { IsVisible = !IsVisible; if (IsVisible) { SideWidth = SideWide;} else { SideWidth = SideShort;} }
    private void ToggleMnuCdasVis() { MnuCdasVis = !MnuCdasVis; subMnuCadCli = false; subMnuCadSup = false; }
    private void TogglesubMnuCadCli() => subMnuCadCli = !subMnuCadCli;
    private void TogglesubMnuCadSup() => subMnuCadSup = !subMnuCadSup;

    private void ToggleMnuRepVis() => MnuRepVis = !MnuRepVis;
    private void TogglesubMnuRepRes() => subMnuRepRes = !subMnuRepRes;
    private void TogglesubMnuRepMkt() => subMnuRepMkt = !subMnuRepMkt;

    private void OnMouseOver(int i) { IsHovered = i;}
    private void OnMouseOut() { IsHovered = 0;}
}